<!--Retina x2-->
<picture class="">
  <!--        webp       -->
  <source type="image/webp" media="(min-width: 1200px)"
                            srcset="img/main/*--desktop@1x.webp 1x,
                                    img/@2x/*--desktop@2x.webp 2x">
  <source type="image/webp" media="(min-width: 768px)"
                            srcset="img/main/*--tablet@1x.webp 1x,
                                    img/@2x/*--tablet@2x.webp 2x">
  <source type="image/webp" srcset="img/main/*@1x.webp 1x,
                                    img/@2x/*@2x.webp 2x">
  <!--        jpg       -->
  <source media="(min-width: 1200px)"
          srcset="img/main/*--desktop@1x.jpg 1x,
          img/@2x/*--desktop@2x.jpg 2x">
  <source media="(min-width: 768px)"
          srcset="img/main/*--tablet@1x.jpg 1x,
         img/@2x/*--tablet@2x.jpg 2x">
  <img src="img/main/*@1x.jpg"
       srcset="img/@2x/*@2x.jpg 2x" width=""  alt="" class="">
</picture>


<!--SVG-->
<svg class="" width="" height="">
  <use xlink:href="#icon-*"></use>
</svg>
