$sans-serif: 'Arial', sans-serif;
$font-family: 'Montserrat';
$font-size: 12px;
$line-height: 18px;
$text-align: left;
$font-weight: normal;
$text-color: black;
$background-color: white;

//Tablet
$font-size-tablet: 14px;
$line-height-tablet: 160%;

//Desktop Small
$font-size-small: 16px;

//Desktop Middle
$font-size-middle: 17px;

//Desktop
$font-size-desktop: 18px;
$line-height-desktop: 24px;
