@mixin reset-list {
  padding: 0;
  margin: 0;
  text-indent: 0;
  list-style: none;
}

@mixin reset-margin-text {
  margin-top: 0;
  margin-bottom: 0;
}

@mixin reset-fieldset {
  padding: 0;
  margin: 0;
  min-width: 0;
  border: 0;
}

@mixin reset-quote {
  margin: 0;
  quotes: none;
}

@mixin reset-button {
  padding: 0;
  border: 0;
  background-color: transparent;
}

@mixin reset-input {
  border: none;
  text-decoration: none;
  color: inherit;
  padding: 0;
  margin: 0;
}
