*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  min-width: $mobile-width;
  margin: 0;
  font-family: $font-family, $sans-serif;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  text-align: $text-align;
  color: $text-color;
  background-color: $background-color;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

img {
  height: 100%;
  max-height: 100%;
  max-width: 100%;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

iframe {
  border: none;
}

path {
  fill: inherit;
}

input,
textarea,
select,
button {
  font: inherit;
}

::selection {
  color: white;
  background-color: #004FE4;
}
