*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  min-width: $mobile-width;
  margin: 0;
  font-family: $main-font, $sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 30px;
  text-align: left;
  color: black;
  letter-spacing: 0.05em;
  background-color: white;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

img {
  height: 100%;
  max-height: 100%;
  max-width: 100%;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

iframe {
  border: none;
}

path {
  fill: inherit;
}

input,
textarea,
select,
button {
  font: inherit;
}

::selection {
  color: white;
  background-color: #004FE4;
}
