.wrapper {
  @include padding-mobile;
}

//Tablet
@include tablet {
  .wrapper {
    padding: 0;
    width: 768px;
    margin: 0 auto;
  }
}

//Desktop
@include desktop {
  .wrapper {
    width: 1224px;
  }
}
