<!--Retina x2-->
<picture class="">
  <!--        webp       -->
  <source type="image/webp" media="(min-width: 1440px)"
                            srcset="img/@1x/photo/*--desktop@1x.webp 1x,
                                    img/@2x/photo/*--desktop@2x.webp 2x">
  <source type="image/webp" media="(min-width: 768px)"
                            srcset="img/@1x/photo/*--tablet@1x.webp 1x,
                                    img/@2x/photo/*--tablet@2x.webp 2x">
  <source type="image/webp" srcset="img/@1x/photo/*@1x.webp 1x,
                                    img/@2x/photo/*@2x.webp 2x">
  <!--        jpg       -->
  <source media="(min-width: 1199px)"
          srcset="img/@1x/photo/*--desktop@1x.jpg 1x,
          img/@2x/photo/*--desktop@2x.jpg 2x">
  <source media="(min-width: 768px)"
          srcset="img/@1x/photo/*--tablet@1x.jpg 1x,
         img/@2x/photo/*--tablet@2x.jpg 2x">
  <img src="img/@1x/photo/*@1x.jpg"
       srcset="img/@2x/photo/*@2x.jpg 2x" width="260"  alt="" class="">
</picture>


<!--SVG-->
<svg class="" width="" height="">
  <use xlink:href="#icon-*"></use>
</svg>
