@mixin padding-vertical($padding-top: 0, $padding-bottom: 0){
  padding-top: $padding-top;
  padding-bottom: $padding-bottom;
}

@mixin padding-horizontal($padding-right: 0, $padding-left: 0){
  padding-right: $padding-right;
  padding-left: $padding-left;
}

@mixin margin-vertical($margin-top: 0, $margin-bottom: 0){
  margin-top: $margin-top;
  margin-bottom: $margin-bottom;
}

@mixin margin-horizontal($margin-right: 0, $margin-left: 0){
  margin-right: $margin-right;
  margin-left: $margin-left;
}

@mixin flex{
  display: flex;
  flex-wrap: wrap;
}

@mixin flex-row{
  flex-direction: row;
  flex-wrap: wrap;
}

@mixin flex-column{
  display: flex;
  flex-direction: column;
}

@mixin line-height-auto {
  line-height: 120%;
}

@mixin object-fit($fit: fill, $position: null){
  -o-object-fit: $fit;
  object-fit: $fit;
  @if $position {
    -o-object-position: $position;
    object-position: $position;
    font-family: 'object-fit: #{$fit}; object-position: #{$position}';
  } @else {
    font-family: 'object-fit: #{$fit}';
  }
}

