@mixin pseudo($pos: absolute, $display: block, $content: ''){
  position: $pos;
  display: $display;
  content: $content;
}

@mixin hover{
  &:hover,
  &:focus{
    @content;
  }
}

@mixin hover-active{
  &:hover,
  &:active{
    @content;
  }
}

@mixin before{
  &::before{
    content: "";
  }
}

@mixin after{
  &::after{
    content: "";
  }
}

@mixin before-after{
  &::before,
  &::after{
    content: "";
    @content;
  }
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}


@mixin placeholder-hide{
  input::-webkit-input-placeholder       {text-indent: 0;   transition: text-indent 0.5s ease;}
  input::-moz-placeholder                {text-indent: 0;   transition: text-indent 0.5s ease;}
  input:-moz-placeholder                 {text-indent: 0;   transition: text-indent 0.5s ease;}
  input:-ms-input-placeholder            {text-indent: 0;   transition: text-indent 0.5s ease;}
  input:focus::-webkit-input-placeholder {text-indent: 2500px; transition: text-indent 0.5s ease;}
  input:focus::-moz-placeholder          {text-indent: 2500px; transition: text-indent 0.5s ease;}
  input:focus:-moz-placeholder           {text-indent: 2500px; transition: text-indent 0.5s ease;}
  input:focus:-ms-input-placeholder      {text-indent: 2500px; transition: text-indent 0.5s ease;}
}
