$sans-serif: 'Arial', sans-serif;
$font-family: 'Montserrat';
$font-size: 18px;
$line-height: 26px;
$text-align: left;
$font-weight: normal;
$text-color: black;
$background-color: white;

//Desktop Middle
$font-size-middle: 16px;
$line-height-middle: 160%;

//Desktop Small
$font-size-small: 14px;

//Tablet
$font-size-tablet: 12px;

//Mobile
$font-size-mobile: 10px;
