// Width
$mobile-width: 320px;
$tablet-width: 1024px;
$desktop-width: 1440px;
$mobile-max-width: 1023px;
$tablet-max-width: 1439px;

// Padding
$mobile-padding: 20px;
$tablet-padding: 108px;
$desktop-padding: 108px;

// Retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
