$sans-serif: 'Arial', sans-serif;
$font-family: 'Montserrat';

//Desktop Middle
$font-size-middle: 16px;

//Desktop Small
$font-size-small: 14px;

//Tablet
$font-size-tablet: 12px;

//Mobile
$font-size-mobile: 10px;
$line-height-mobile: 140%;
